body
{
    margin:0;
    font-family:Arial,sans-serif;
    background:#EAF4FC;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}
.card
{
    width:430px;
    background:white;
    padding:40px;
    text-align:center;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}
h1
{
    color:darkblue;
}
h2
{
    font-size:60px;
    color:green;
    margin-top:35px;
}